<header>
    <h1>Attack Online</h1>
    <div class="login">
        {% if (user.loggedIn) %}
        {# --- START --- logout-form --- #}
        <form method="post" action="{{absRefPrefix}}overview/">
            <table class="logout">
                <tr>
                    <td>
                        <p>{{user.login}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="logout">(<a href="{{absRefPrefix}}logout/" class="linktext">Log Out</a>)</p>
                    </td>
                </tr>

                {% if (user.status == 'inactive') %}
                <tr>
                    <td>
                        <p class="error">Account inactive</p>
                    </td>
                </tr>
                {% endif %}

                {% if user.games|length > 0 %}
                <tr>
                    <td>
                        <select name="select_game" size="1" onchange="submit()">
                            <option value="" class="game" disabled="disabled"{% if user.noGameSelected %} selected {% endif %}>Select game</option>
                            {% for game in user.games %}
                            <option value="{{game.id}}" class="game"{% if game.selected %} selected {% endif %}>{{game.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endif %}

            </table>
        </form>
        {# --- END --- logout-form --- #}
        {% else %}
        {# --- START --- login-form --- #}
        <form method="post" action="{{absRefPrefix}}login/">
            <table class="login">
                    <tr><td>
                        <p>
                            <input type="text" id="username" name="username" placeholder="Username" maxlength="15" size="20" value="{{ (user.login) ? user.login : '' }}" required />
                        </p>
                    </td></tr>
                    <tr><td>
                        <p>
                            <input type="password" id="password" name="password" placeholder="Passwort" maxlength="40" size="20" value="" required />
                        </p>
                    </td></tr>
                    <tr><td>
                        <p>
                            <label>
                                <input type="checkbox" class="checkbox" name="remember" /> merken?
                            </label>
                            <input type="submit" value="Log In" name="login" />
                        </p>
                    </td></tr>
            </table>
        </form>
        {# --- END --- login-form --- #}
        {% endif %}
    </div>
</header>
