<div class="showmoves">
    <p><strong>{{game.name}}</strong><br /><small>({{game.mode}})</small></p>
</div>

<h1>{{game.name}}</h1>

{% if delete %}
<h3>delete game</h3>
<p>Wollen Sie wirklich dieses Spiel l&ouml;schen?</p>
<form method="post" action="{{absRefPrefix}}gameinfo/{{game.id}}/">
    <p>
        <input type="submit" value="L&ouml;schen" name="delete_affirmed" />
        <input type="submit" value="Abbrechen" name="abort" />
        <input type="hidden" name="creator_action" value="creator_action" />
    </p>
</form>
<br>
<hr>
{% endif %}

<h3>players</h3>
<table>
    <tr>
        <td>Ersteller:</td>
        <td>{{game.creator}}</td>
        <th>Farbe</th>
        {% if isCreator and game.status == 'new' %}
        <th>kick</th>
        {% endif %}
    </tr>

    {% for player in game.player %}
    <tr>
        <td>Mitspieler:</td>
        <td>{{player.login}}</td>
        <td>{{player.color}}</td>
        {% if isCreator and game.status == 'new' %}
        <td class="center">
        <form method="post" action="{{absRefPrefix}}gameinfo/{{game.id}}/">
            <input type="image" value="{{player.id}}" name="kick" src="{{absRefPrefix}}dist/images/leave.gif" alt="Spiel verlassen"/>
            <input type="hidden" value="{{player.id}}" name="kick" />
            <input type="hidden" name="creator_action" value="creator_action" />
        </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if isCreator and game.status == 'new' %}
<br>
<hr>

<h3>new game actions</h3>

<table>
    <tr>
        <td>start game
        </td>
        <td>
            <form method="post" action="{{absRefPrefix}}gameinfo/{{game.id}}/">
                <input type="submit" name="start" value="start" />
                <input type="hidden" name="creator_action" value="creator_action" />
            </form>
        </td>
    </tr>
    <tr>
        <td>delete game
        </td>
        <td>
            <form method="post" action="{{absRefPrefix}}gameinfo/{{game.id}}/">
                <input type="submit" name="delete" value="delete" />
                <input type="hidden" name="creator_action" value="creator_action" />
            </form>
        </td>
    </tr>
    <form method="post" action="{{absRefPrefix}}gameinfo/{{game.id}}/">
        <tr>
            <td>new password<br/>(leave empty to set game without password)
            </td>
            <td><input type="password" id="password1" name="password1" maxlength="40"/>
            </td>
        </tr>
        <tr>
            <td>retype password
            </td>
            <td><input type="password" id="password2" name="password2" maxlength="40"/>
            </td>
        </tr>
        <tr>
            <td>change password
            </td>
            <td>
                <input type="submit" name="change_pw" value="change" />
                <input type="hidden" name="creator_action" value="creator_action" />
            </td>
        </tr>
    </form>
</table>
{% endif %}

<br>

<p>
    <a href="{{absRefPrefix}}games/">Zurück</a>
</p>
