{% if game %}
    <p>Wollen Sie wirklich folgendem Spiel beitreten?</p>

    <table>
        <tr>
            <td>Name:</td>
            <td>{{game.name}}</td>
        </tr>
        <tr>
            <td>Ersteller:</td>
            <td>{{game.creator}}</td>
        </tr>

        {% for player in game.players %}
        <tr>
            <td>Mitspieler:</td>
            <td>{{player}}</td>
        </tr>
        {% endfor %}

        <form method="post" action="{{absRefPrefix}}joingame/{{game.id}}/">
        <tr>
            <td>Farbe wählen:</td>
            <td>
                <select name="color" size="1">
                    {% for color in game.availColors %}
                    <option value="{{color.id}}" name="color">{{color.color}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        {% if game.passwordProtected %}
        <tr>
            <td>Passwort:</td>
            <td>
                <input type="password" value="" name="password" />
            </td>
        </tr>
        {% endif %}

        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Beitreten" name="join" />
                <input type="hidden" value="{{game.id}}" name="id_game">
            </td>
        </tr>
        </form>
    </table>
    <br>
    <a href="{{absRefPrefix}}games/">zur&uuml;ck</a>
{% endif %}

{% if errors %}
<br>
<hr>
<p class="error">{{errors.message}}</p>
{% endif %}

{% if status %}
<br>
<hr>
<p class="status">{{status.message}}</p>
{% endif %}
