{% include 'content/partials/currentgame.twig' %}

<h1>Seez&uuml;ge</h1>


<form method="post" action="{{ absRefPrefix }}seamove/">
    <table>
        <colgroup>
            <col span="2"/>
            <col span="4"/>
            <col/>
        </colgroup>

        <tr>
            <th>Schiffsname</th>
            <th>aktuelles Seefeld</th>
            <th>aktueller Hafen</th>
            <th>Zielfeld</th>
            <th>Zielhafen</th>
        </tr>

        {# SHOW SHIPS #}
        {% for ship in ships %}
            <tr>
                <td>
                    {{ ship.name }}<br>
                    <small>({{ ship.type }})</small>
                </td>
                <td>
                    {{ ship.currentArea.name }} - {{ ship.currentArea.number }}
                </td>
                </td>
                <td>
                    {% if ship.currentPortArea %}
                        {{ ship.currentPortArea.name }} - {{ ship.currentPortArea.number }}
                    {% endif %}
                </td>
                <td>
                    <label>
                        <select name="destination-area-{{ ship.id }}" size="1">
                            {% for gameArea in destinationAreas %}
                                <option value="{{ gameArea.id }}"
                                        {{ (ship.targetArea.id == gameArea.id) ? 'selected' : ''}}>
                                    {{ gameArea.name }} - {{ gameArea.number }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <select name="destination-port-area-{{ ship.id }}" size="1">
                            <option value="-1"
                                    {{ (false) ? 'selected' : ''}}>
                                kein Hafen
                            </option>
                            {% for gameArea in destinationPortAreas %}
                                <option value="{{ gameArea.id }}"
                                        {{ (ship.targetPortArea.id == gameArea.id) ? 'selected' : ''}}>
                                    {{ gameArea.name }} - {{ gameArea.number }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <th colspan="4">
            </th>
            <th>
                <input type="submit" name="set_seamove" value="Bestätigen"/>
            </th>
        </tr>
    </table>
</form>

{% if notCurrentPhase %}
    <p class="error">
        <small>
            Achtung, dies ist nicht die aktuelle Phase.
            <br/>
            Es könnte sein, dass ihr eure Züge noch vor dem Ende dieser Runde ändern wollt, um euch auf unvorhergesehene Züge der Mitspieler
            einzustellen.
        </small>
    </p>
{% endif %}

<hr/>

{% if turnFixated %}
    <p>
        Achtung, du hast den Zug bereits fixiert.
    </p>
{% else %}
    <form method="post" action="{{ absRefPrefix }}seamove/">
        <h2>Zug beenden</h2>
        <p>Achtung, wenn du den folgenden Knopf dr&uuml;ckst wird der Seezug fixiert und du kannst ihn nicht mehr &auml;ndern. Erst
            wenn alle Spieler diesen Zug beendet haben erfolgt die Berechnung und das Spiel geht in die n&auml;chste Phase.</p>
        <input type="submit" name="fixate_sea_move" value="Fertig"/>
    </form>
{% endif %}

{% if errors %}
    <br>
    <p class="error">{{ errors.message }}</p>
{% endif %}

{% if status %}
    <br>
    <p class="status">{{ status.message }}</p>
{% endif %}
